# SOLVER_API_URL=http://optimization_api_fastapi:80    # <- when running frontend in docker (for later)

SOLVER_API_URL=http://localhost:8080/nurse_rostering_solver/v0   # <- when running frontend locally (e.g. with "npm run dev")
