.venv/
__pycache__/
.vscode/
.pytest_cache/
*.egg-info/
.hypothesis/
*.log

# personal
notes.md

# development tests
backend/app/nurse_rostering/solvers/hexaly/model/hex.ipynb

# license files
/backend/hexaly_installation/license.dat
/backend/hexaly_installation/license.dat*
